@charset "UTF-8";
        body{
            background-color: rgb(134, 134, 194);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }
        h1{
            color: rgb(153, 7, 7);
            background-color: black;
        }
        h2{
            color: rgb(7, 7, 153);
        }
        p{
            color: rgb(29, 32, 30);
            text-align: justify;
        }
