.container {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2 {
    background-color: green;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: blue;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}

.caixa4 {
    background-color: blueviolet;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}